/*
admin.html
*/

.table > :not(caption) > * > *{
  padding: 16px;
  color: $gray-900;
}

.table .last{
  padding-right: 0;
}

.admin-modal{
  color: $gray-900;
  .btn-close{
    position: absolute;
    z-index: 99;
    top: 2rem;
    right: 2rem;
  }
  img{
    width: 141px;
    height: 141px;
    object-fit: cover;
  }
  .modal-body{
    padding: 2rem;
  }
  .email{
    color: $gray-600;
  }
  .badge{
    font-weight: 400;
  }
}


/*
assignment.html
*/

.assignment-content{
  .img{
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.answer-box{
  height: 263px;
}